:root {
    --black: #000000;
    --white: #ffffff;
	--white-15: rgb(255 255 255 / 15%);
    --white-20: rgb(255 255 255 / 20%);
    --white-50: rgb(255 255 255 / 50%);
    --white-75: rgb(255 255 255 / 75%);
    --white-80: rgb(255 255 255 / 80%);
    --body-text: #ffffff;
	--heading: #ffffff; 
    --optionaltxt: #f50000;
    --powder-blue:#94CFDB;
    --anchor: #ffffff;
    --anchor-hover: #f50000;
    --play-bg: #D9D9D9;
    --ad: rgb(145 145 145 / 40%);
    --bill-ad: #272727;
    --theme : #f50000;
    --btn-txt : #000000;
    --btn-txt-hover : #ffffff;
    
    --btn-bg : #ffffff;
    --btn-bg-hover: #f50000;

    --signup-placeholder:#000000;
    --signup-btn-txt: #000000;
    --signup-btn-bg :  #f50000;
    --signup-btnbg-hover : #000000;
    --signup-btnbg-hover-txt: #ffffff;
    
    --placeholder: #ffffff;
    --readmore : #ffffff;
    --readmore-hover: #f50000; 
    
   
    --banner-shadow: rgba(0, 0, 0, 0.00);
     --banner-shadow-20: rgba(0 0 0 / 20%);
     --banner-shadow-100: #000000;
    --ul-bullets:#ffffff;

    --slick-arrow: #ffffff;
    --menu-bg: #f7f5f0;
    --seperator-line: rgba(255 255 255 / 0.1);
        
    --cta-shadow: rgba(0, 0, 0, 0.00);
    --cta-shadow-50: rgba(0, 0, 0, 0.50);
    --cta-shadow-100: #000000;
    
    --microcta-shadow: rgba(0, 0, 0, 0.00);
    --microcta-shadow-20: rgba(0 0 0 / 20%);
    --microcta-shadow-100: #000000;
    
    --cat-txt:#f50000;
    --cat-txt-hover:#ffffff;
    --cat-bg:rgba(245, 0, 0, 0.2);
    
    
    --grey:#151515;
    --fn-cnt-bg: #000000; 
    
    --accordion-border: rgba(255, 255, 255, 0.25);
    --accordion-aborder:rgba(255, 255, 255);
    --accordion-a: #ffffff;
    --accordion-icon: #000000;
    
    --sharebtn-bg: #ffffff;
    --sharebtn-hoverbg:#f50000;
    --sharebtn-txt: #000000;
    
    --eventbx-bg:#ffffff;
    --eventbx-anchor:#000000;
    --dashed-border:#b7b7b7;
    
    --filter-border:rgba(0, 8, 117, 0.25);
    --filter-atxt:#000000;
    
    --input:rgba(255, 255, 255, 0.25);
    --optional-grey: rgb(255 255 255 / 50%);
    --frm-txt: #ffffff;
    --input-txt:#ffffff;
    --frm-btn-hover:#f50000;
    
    --cd-txt:#ffffff;
    --cd-a:#f50000;
    --cd-ahover:#ffffff;
    
    --theme-bg:#000000; 
    --recent-banner-bg :  #000000;
    
}