.default-banner-section {width: 100%; z-index: 1; position: relative; clear: both;}
.default-banner-main {margin: 0 auto; width: 100%; min-height: 480px; align-items:center;}
.default-banner-main .default-banner-text {max-width:600px; clear: both; padding:104px 0; position: relative; width: 100%;}

.default-banner-main .default-banner-text h1 span {position: relative;}
/*.default-banner-main .default-banner-text h1 span:before {content: ""; width:235px; height: 20px; display: block; position: absolute; left: -7px; bottom:3px; background:url("../images/accent-line.svg") 0 0 no-repeat; z-index: -1;}*/



/*-- media starts here --*/
@media only screen and (max-width: 767px) and (min-width: 200px){
    .default-banner-main {align-items: flex-end;}
    .default-banner-main .default-banner-text {padding: 40px 0 80px; font-size: 1rem;} 
    .default-banner-main .default-banner-text h1 span:before {bottom: -7px;}
    .default-banner-main .default-banner-text p {font-size: 1rem; line-height: 1.5;}

}