.default-banner-section {width: 100%; z-index: 1; position: relative; clear: both;}
.default-banner-main {margin: 0 auto; width: 100%; min-height: 480px; align-items:center;}
.default-banner-main .default-banner-text {max-width:600px; clear: both; padding:104px 0; position: relative; width: 100%;}

.default-banner-main .default-banner-text h1 span {position: relative;}
.default-banner-main .default-banner-text .cat-wrap {justify-content:flex-start; gap:20px;}
.default-banner-main .default-banner-text .cat-wrap ul li a {border-radius: 0;}
.default-banner-main .default-banner-text .posted-date {display: block; font-size: 0.75rem; opacity: 0.5; line-height: 1.67; font-weight: bold;}



/*-- media starts here --*/
@media only screen and (max-width: 767px) and (min-width: 200px){
    .default-banner-main {align-items: flex-end;}
    .default-banner-main .default-banner-text {padding: 40px 0 80px; font-size: 1rem;} 
    .default-banner-main .default-banner-text h1 span:before {bottom: -7px;}
    .default-banner-main .default-banner-text p {font-size: 1rem; line-height: 1.5;}

}