.fce-module {clear: both; width: 100%; padding: 81px 0 80px 0; position: relative; z-index: 1;}
.fce-wrap {clear: both; width: 100%; display: flex; flex-wrap: wrap; gap:2.5%;}


.fce-top-lt {width: calc(100% - 32.65625%); flex-grow: 1; min-height: 490px;}
.fce-post {display: flex; flex-wrap: wrap; width: 100%; height: 100%; z-index: 1;}
.fce-post .fce-thumb {position: absolute; width: 100%; height: 100%; z-index: -1; display: block; top: 0; left: 0;}
.fce-post .fce-thumb:before {content: ""; width: 100%; height: 100%; position: absolute; left: 0; top: 0; display: block; background: linear-gradient(252deg, var(--banner-shadow) 51.58%, var(--banner-shadow-100) 89.24%);}

.fce-txt {position: relative; z-index: 1; padding:64px; color: var(--white); margin-top: auto; max-width:500px;}
.fce-txt .cat-wrap ul li {text-transform: uppercase;}
.fce-txt .cat-wrap ul li a {border-radius: 0;}
.fce-txt h2 {margin-bottom: 16px; font-size: 2.5rem; letter-spacing: -0.58px;}
.fce-txt h2 span:before {left: -26px; bottom: -9px;}
.fce-txt .h6:last-child {margin-bottom: 0;}

.fce-top-rt {gap:30px; width: 30.15625%; display: flex; flex-direction: column; flex-grow: 1;}
.fce-top-rt .fce-txt {padding: 20px;}
.fce-top-rt .fce-txt .cat-wrap {margin: 0 0 8px 0;}
.fce-top-rt .fce-thumb:before {background: linear-gradient(0deg, var(--banner-shadow) 0%, var(--banner-shadow-20) 100%), linear-gradient(235deg, var(--banner-shadow) 39.96%, var(--banner-shadow-100) 85.8%);}



@media only screen and (max-width: 1023px) and (min-width:200px) {
    .fce-top-lt {width: 100%;}
    .fce-wrap {margin: 0 0 22px 0;}
    .fce-txt {padding: 20px;}
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .fce-module {padding: 64px 0;}
    .fce-wrap {gap:30px;}
    .fce-top-rt {flex-direction:inherit;}
    .fce-post {min-height: 200px;}
}




@media only screen and (max-width: 767px) and (min-width: 200px) {
    .fce-module {padding: 40px 0;}
    .fce-wrap {gap: 24px;}
    .fce-top-lt {min-height: 76.8vw;}
    .fce-top-rt {gap:16px;}
    .fce-txt h2 {margin-bottom: 0; font-size: 2rem; letter-spacing: -0.64px;}
    .fce-txt h2 span::before {display: none;}
    .fce-txt p {display: none;}
    .fce-txt .cat-wrap {margin: 0 0 11px 0;}
    
    .fce-post {min-height: 38.4vw;}
    .fce-post .fce-thumb:before {background: linear-gradient(0deg, var(--banner-shadow-20) 0%, var(--banner-shadow-20) 100%), linear-gradient(255deg, var(--banner-shadow) 39.96%, var(--banner-shadow-100) 85.8%);}
    
    .fce-top-rt .fce-thumb:before {background: linear-gradient(0deg, var(--banner-shadow-20) 0%, var(--banner-shadow-20) 100%), linear-gradient(255deg, var(--banner-shadow) 39.96%, #000 85.8%);}
    
}

