.feature-podcasts-slide-main{ flex-wrap: nowrap; position: relative;overflow: hidden; }
.feature-podcasts-wrap{position: relative; padding-bottom: 80px;}
.feature-podcasts-slide-info{padding: 24px; bottom:0; left: 0;}
.feature-podcasts-slide-info svg{margin-bottom: 12px;}
.feature-podcasts-slide-info .h6{margin-bottom: 0;}

.feature-podcasts-slide-main .slick-arrow.slick-prev{display: none!important;}
.feature-podcasts-slide-main .slick-arrow.slick-next{ background: none; transform: rotate(-90deg); width: 200px; right: -80px !important; left: auto; font-weight: 700; font-size: 12px; bottom: 0; display: flex;
  gap: 8px;}
.feature-podcasts-slide-main .slick-arrow.slick-next svg{transform: rotate(-90deg)}

 .feature-podcasts-slide-main:after{ position: absolute; content: ""; display: block; top: 0; left: -80px; z-index: 1; width: 130px; height: 100%; background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.00) 100%); }
.feature-podcasts-slide-main:after{left: auto; right: -30px; background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);}

ul.slick-dots {z-index: 1; top: auto; bottom: -60px;}

.feature-podcasts .brand-icon{right: auto; top: -80px; left: 42%;}

@media only screen and (min-width: 1300px){
}
@media only screen and (min-width: 414px){
    .feature-podcasts-slide-main .slick-list{overflow: inherit;}
    .feature-podcasts-slide-main .slick-track{display: flex; gap: 16px}
    .feature-podcasts-slide.slick-slide{flex: 0 0 220px;}
    .feature-podcasts-thumb{width: 220px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .feature-podcasts-slide-main .slick-list { margin-left: -105px; width: calc(100% + 105px); }
}
@media only screen and (max-width: 767px) and (min-width: 200px){
     .feature-podcasts-slide-main{display: block;}
    .feature-podcasts-slide{width: 100%!important;}

    .feature-podcasts-slide-main::after { display: none; }
}
@media only screen and (max-width: 413px) and (min-width: 200px){
    .feature-podcasts-wrap{padding: 0 23.5px 40px;}
    .feature-podcasts-slide-main .slick-arrow.slick-next{display: none!important;}
    .feature-podcasts-slide-main .slick-arrow.slick-prev{left: -24px;}

    .feature-podcasts-wrap .readmore{margin: 20px auto 0;}

   
}