.featured-news-module{position: relative; clear: both; width: 100%;}
.fn-main {width: 100%; padding:80px 0 80px 0; clear: both;}
.fn-bg {bottom: 0; left: 0; display:block; width: 100%; height: 67.9%; background: var(--white);}
.fn-lists {clear: both; width: 100%; position: relative; display: flex; flex-wrap: wrap; gap:3.125%;}
.fn-grid {display: inline-block; width:22.65625%; vertical-align: top;}
.fn-grid .fn-thumb {clear: both; width: 100%; position: relative; height: 193px; overflow: hidden}
.fn-grid .fn-cnt {clear: both; width: 100%; margin:24px 0 0 0;}
.fn-grid .fn-cnt .h5 {padding-right: 5px;}
.fn-grid .fn-cnt p {font-size:1rem; line-height: 1.5;}
.fn-grid .fn-cnt .posted-date {display: block; font-size: 0.75rem; opacity: 0.5; line-height: 1.67;}

/*-- media css starts here --*/

@media only screen and (max-width: 1023px) and (min-width: 768px){
    .fn-main {padding:64px 0 56px 0;}
    .fn-grid {width: 47.093023255813954%; margin: 40px 0 0 40px;}
    .fn-grid:nth-child(2n+1) {margin-left: 0;}
    .fn-grid:nth-child(1), .fn-grid:nth-child(2) {margin-top: 0;}
    .fn-bg {height: 77.9%;}
}


@media only screen and (max-width: 767px) and (min-width: 200px){
    .fn-main {padding: 39px 0 40px;}
    .fn-main .heading-btn {margin-top: 40px;}
    .fn-grid {width: 342px; margin: 0 24px 0 0;}
    .fn-grid .fn-cnt {margin-bottom: 30px;}
    .fn-lists {padding: 0 0 65px 0;}
    .fn-lists ul.slick-dots {min-height: 72px; width: calc(100% - 151px); margin: 0 auto; position: absolute; left: 0; right: 0; bottom: -8px;}
    .fn-lists .slick-arrow {top: inherit; bottom: 0;}
}


@media only screen and (max-width: 389px) {}