#main_footer{padding: 80px 0 120px; clear: both;}
/* .footer{padding: 80px 0 40px;} */
.footer-vector{width: 394px;
  height: 446px;
  left: 70px;
  top: -71px;}
.footer-tp-wrap{justify-content: space-between;}
.footer-location{flex:0 0 218px;}
.footer-phone{flex: 0 0 393px;}
.footer-tp-rt{flex: 0 0 350px;}
.footer-top h6{color: var(--optionaltxt); font-size: 12px; font-weight: 700; line-height: 100%; margin-bottom: 10px;}
.footer-tp-wrap p{font-size: 16px; font-weight: 400; line-height: 150%; margin-bottom: 0;}

.app-download{margin-bottom: 30px;}
.ft-app-wrap{gap: 10px;}
.ft-app-link:first-child{gap: 15px;}
.ft-app-link {background: var(--white); color: var(--black); border-radius: 42px; padding: 10px 20px; flex: 1; gap: 10px}
.ft-app-link .ft-app-lt img{width: 22px; height: 26px;}
.ft-app-link .ft-app-rt img{width: 22px; height: 26px;}
.ft-app-txt{flex: 1;}
.ft-app-txt span{display: block;}
.ft-tp-txt{ font-size: 10px; line-height: 120%; font-weight: 700;}
.ft-bt-txt{font-size: 17px; line-height: 100%; font-weight: 700;}

.follow-links ul{margin: 0;}
.flw-links li{display: inline-block; margin:  0 0 0 16px;}
.flw-links li:first-child{margin-left: 0;}
.flw-links li a{ font-size: 1.25rem; color: var(--black); width: 40px; height: 40px; position: relative; z-index: 1; line-height: 1; border-radius: 50%; background-color: var(--white);}
.flw-links li a:hover{background-color: var(--theme); color: var(--white);}
.flw-links li::before{display: none;}

.privacy-links ul li:before{display: none;}

/* .footer{bottom: 80px} */
.footer-top hr{margin: 60px 0 40px;}
.footer-sticky{position: fixed; bottom: 0; width: 100%; background-color: var(--black);}

/* copyrights css */

.footer-cp-rights{ font-size: 0.75rem; line-height: 166.67%; justify-content: space-between; gap: 40px; margin-bottom: 40px;}
.footer-cp-rights p{margin-bottom: 0;}
.footer-cp-rights .privacy-links ul{margin: 0; gap: 20px; display: flex;}
.footer-cp-rights .privacy-links ul li { font-size: 0.75rem; margin: 0; display: inline-block; }

/* footer bottom */
.footer-bottom{justify-content: space-between; padding: 20px 0;}
.ft-btm-left{flex:0 0 394px;  gap: 20px}
.ft-btm-txt{gap: 10px; margin-bottom: 8px;}
.ft-btm-txt span{font-size: 12px; line-height: 100%;}
.ft-btm-rt-con h6{font-size: 1.5rem; line-height: 116%; letter-spacing: -0.48px; margin-bottom: 0;}
.ft-btm-lt-img{width: 80px; height: 80px;}
.ft-btm-rt-thumb{width: 80px; height: 80px;}
.ft-btm-right{flex: 0 0 380px;}
.ft-btm-mid{flex: 0 0 308px;} 
.ft-btm-vec{width: 308px; height: 80px; top: 0; left: 0; bottom: 0; right: 0; margin: auto;}
.ft-btm-live a{font-size: 0.875rem;
  color: var(--black);
  width: 32px;
  height: 32px;
  position: relative;
  z-index: 1;
  line-height: 1;
  border-radius: 50%;
  background-color: var(--white); justify-content: center;}

.ft-btm-live{justify-content: center; gap: 8px;}
.ft-btm-live span{font-size: 12px;}
.ft-btm-right {gap: 20px;}
.ft-btm-right .see-all{ font-size: 12px; font-weight: 700;  z-index: 1;}
.ft-btm-rt-thumb:last-child:after{position: absolute; width: 100%; height: 100%; left: 0; top: 0; background-color: var(--black); background: linear-gradient(270deg, #151515 22%, rgba(21, 21, 21, 0.00) 100%); content: "";}
a.see-all-wrap{width: 100%; height: 100%; top: 0; left: 0; gap: 8px; justify-content: flex-end; z-index: 1;}
.see-all-wrap .dots{position: relative;}
.see-all-wrap .dots:before{background-color: var(--white); width: 20px;height: 20px; position: absolute; content:""; border-radius: 50%; top: -8px;}
.see-all-wrap .dot{width: 1px; height: 1px; color: var(--black); border-radius: 50%;}







@media only screen and (max-width: 767px) and (min-width: 200px){
  .footer-bottom{gap: 40px;}
  .ft-btm-left{flex: 0 0 100%; padding-right: 75px;}
  .ft-btm-rt-con{flex: 1;}
  .ft-btm-right{display: none;}
  .ft-btm-mid{flex: 0 0 100%;}
  a.see-all-wrap{max-width: 40px; top: 0; left: auto; right: 0; font-size: 12px; line-height: 12px; flex-direction: column; text-align: center; justify-content: flex-start;}
  a.see-all-wrap svg{margin: 0 auto;}
}












