.home-banner-slide-main{ flex-wrap: nowrap; position: relative; }
.home-banner-wrap{position: relative; padding-bottom: 40px;}
.home-banner-slide-info{padding: 24px; bottom:0; left: 0;}
.home-banner-slide-info svg{margin-bottom: 12px;}
.home-banner-slide-info .h6{margin-bottom: 0;}

.home-banner-thumb:first-child{ background: rgba(0, 0, 0, 0.6);}

.home-banner-slide-main:before, .home-banner-slide-main:after{ position: absolute; content: ""; display: block; top: 0; left: -80px; z-index: 1; width: 130px; height: 100%; background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.00) 100%); }
.home-banner-slide-main:after{left: auto; right: -80px; background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);}
.home-banner-wrap::before { content: ""; display: block; width: calc(100% - 80px); height: 100%; top: 0; left: -100%; position: absolute; background: var(--black); z-index: 1; }
.home-banner-wrap::after { content: ""; display: block; width: calc(100% - 80px); height: 100%; top: 0; right: -100%; position: absolute; background: black; z-index: 1; }

.home-banner-slide-main ul.slick-dots {z-index: 1; top: auto; bottom: -60px;}

@media only screen and (min-width: 1300px){
    .home-banner-slide-main .slick-list{margin-left: -148px; width: calc(100% + 148px)}
}
@media only screen and (min-width: 414px){
    .home-banner-slide-main .slick-list{overflow: inherit;}
    .home-banner-slide-main .slick-track{display: flex; gap: 20px}
    .home-banner-slide.slick-slide{flex: 0 0 298px;}
    .home-banner-thumb{width: 298px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .home-banner-slide-main .slick-list { margin-left: -105px; width: calc(100% + 105px); }
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .ad-main {
  padding: 0 0 20px;
}
}
@media only screen and (max-width: 413px) and (min-width: 200px){
    .home-banner-wrap{padding: 0 23.5px 40px;}
    .home-banner-slide-main .slick-arrow.slick-next{right: -24px;}
    .home-banner-slide-main .slick-arrow.slick-prev{left: -24px;}
}