.micro-cta-module {width: 100%; z-index: 1; position: relative; clear: both; overflow: hidden; margin: 40px 0;}
.micro-cta-main {margin: 0 auto; width: 100%; min-height: 295px; align-items:center;}
.micro-cta-main .h4 {margin-bottom:31px;}
.micro-cta-main .h4 span:before {left: -57px; bottom: -7px; z-index: 1;}

.micro-cta-bg {top:0; left:0; right:0; bottom:0; width:100%; height:100%; position:absolute; z-index:-1;}
.micro-cta-bg:after {background: linear-gradient(0deg, var(--microcta-shadow-20) 0%, var(--microcta-shadow-20) 100%), linear-gradient(240deg, var(--microcta-shadow) 51.58%, var(--microcta-shadow-100) 89.24%); content: ""; width: 100%; height:100%; position: absolute; left: 0; top: 0; display: block;}
.micro-cta-bg img {width:100%; height:100%; font-family:"object-fit:cover"; object-fit:cover; -o-object-fit:cover; object-position:50% 50%; -o-object-position:50% 50%;}

.micro-cta-main .micro-cta-text {max-width:500px; clear: both; padding:40px; position: relative; width: 100%; font-size: 1rem;}
.micro-cta-main .micro-cta-text p {margin-bottom: 32px;}
.micro-cta-main .micro-cta-text .btn-wrap .button {padding: 6px 24px 7px 20px; gap: 13px;}

/*-- media starts here --*/


@media only screen and (max-width: 767px) and (min-width: 200px){
    .micro-cta-main {min-height: 415px; align-items: flex-end;}
    .micro-cta-main .h4 {margin-bottom:32px;}
    .micro-cta-main .h4 span::before {left:-21px; bottom: -6px; z-index: -1;}
    .micro-cta-main .micro-cta-text {padding: 40px 24px 18px; max-width: 100%;} 
    .micro-cta-main .micro-cta-text p {margin-bottom: 24px;}
    .micro-cta-main .micro-cta-text .btn-wrap {justify-content: center; gap:13px;}

}