.repeater-section{clear: both; width: 100%; overflow: hidden;}
.repeater-main{padding: 80px 0 80px 0; display: flex; flex-wrap:wrap; gap:80px;}
.repeater-list {justify-content: space-between; gap:6.25%; line-height: 1.5; font-size: 1rem; align-items: center;}
.repeater-list:nth-child(2n) {flex-direction: row-reverse;}

.repeater-text{width: 46.875%; flex-grow: 1;}
.repeater-text .optional-text {text-transform: uppercase; margin: 0 0 5px 0;}
.repeater-text .h4 {margin-bottom: 24px;}
.repeater-text ul, .repeater-text ol {margin: -3px 0 24px 24px;}
.repeater-text ul > li:before {width:5px; height:5px; top: 11px; left: -15px;}
.repeater-text ul > li, .repeater-text ol > li {margin-bottom: 8px;}

.repeater-img{width: 46.875%; flex-grow: 1;}


@media only screen and (max-width: 1023px) and (min-width: 200px) {
    .repeater-main {gap:64px;}
    .repeater-list {gap:0;}
    .repeater-img {width: 100%; height: 59vw;}
    .repeater-text {width: 100%; margin-top: 20px;}
}

@media only screen and (max-width: 767px) and (min-width: 200px) {
    .repeater-main {gap:40px; padding: 40px 0;}
    .repeater-img {height: 66.67vw;}
    .repeater-text {margin-top: 16px;}
    .repeater-text .optional-text {margin: 0 0 4px 0;}
}