html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border: 0; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display: block;}
audio, canvas, video {display: inline-block; max-width: 100%;}
html {overflow-y: scroll; overflow-x: hidden; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; box-sizing: border-box; scroll-behavior: smooth;}
a {color: var(--anchor); text-decoration: none; transition-duration: .75s; transition-property: all; transition-timing-function: cubic-bezier(.075,.82,.165,1);}
a:focus {outline: 0;}
a:hover, a:active {outline: 0;}
a:hover {color: var(--anchor-hover);}
h1, h2, h3, h4, h5, h6 {clear: both; margin: 0 0 23px; color: var(--heading); font-weight: 700; font-family: "Inter", sans-serif; }
h1 {font-size: 3.5rem; line-height: 1.34; margin-bottom: 7px; letter-spacing: -1.12px;}
h2 {font-size: 2.375rem; line-height:1.18; margin-bottom: 20px; letter-spacing: -0.76px;}
h3 {font-size: 2.5rem; line-height: 1.2; margin-bottom: 20px; letter-spacing: -0.8px;}
h4 {font-size: 2rem; line-height: 1.25; margin-bottom: 24px; letter-spacing: -0.64px;}
h5 {font-size: 1.5rem; line-height: 1.17; margin-bottom:16px; letter-spacing: -0.48px;}
h6 {font-size: 1.25rem; line-height: 130%; margin-bottom: 18px; letter-spacing: -0.4px;}
address {margin-bottom: 9px;}
abbr[title] {border-bottom: 1px dotted #2b2b2b; cursor: help;}
b, strong {font-weight: bold;}
cite, dfn, em, i {font-style: italic;}
mark, ins {background: transparent; text-decoration: none; color: inherit;}
p {margin-bottom:27px;}
p:last-child {margin-bottom: 0;}
code, kbd, tt, var, samp, pre {font-size: 15px; -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; line-height: 1.6;}
pre {border: 1px solid rgba(0, 0, 0, 0.1); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom: 24px; max-width: 100%; overflow: auto; padding: 12px; white-space: pre; white-space: pre-wrap; word-wrap: break-word;}
blockquote, q {-webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; quotes: none;}
blockquote {padding:56px 56px 57px 56px; position: relative; margin:57px 0 31px; background: var(--grey);}
blockquote p {font-size: 2rem; line-height: 1.25; letter-spacing: -0.64px; margin: 0; font-weight: bold;}
blockquote:before {content: "" ; width: 74px; background:url("../images/quote.svg") 0 0 no-repeat; height: 64px; display: block; position: absolute; top:56px; opacity: 0.1; right: 56px;}

small {font-size: small;}
big {font-size: 125%;}
sup, sub {font-size: 1rem; letter-spacing: -.18px; height: 0; line-height: 0; position: relative; vertical-align: baseline;}
sup {bottom: 0ex;}
sub {top: 0;}
dl {margin-bottom: 24px;}
dd {margin-bottom: 24px;}
ul {list-style: none; margin:0 0 20px 27px;}
ul > li {counter-increment: li; position: relative; margin-bottom: 7px;}
ul > li:before {content: ""; width:6px; height:6px; display: block; position: absolute; top:12px; left: -17px; background-color: var(--ul-bullets); border-radius: 50%;}
li > ul {margin: 25px 0 26px 40px;}
ol {counter-reset: section; list-style: none; margin:0 0 20px 29px;}
ol > li {counter-increment: li; position: relative; margin-bottom:0;}
ol > li:before {counter-increment: section; content: counter(section, decimal) "."; left: -23px; position: absolute;}
li > ol {margin: 25px 0 26px 40px;}
img {-ms-interpolation-mode: bicubic; border: 0; vertical-align: middle; max-width: 100%; height: auto;}
figure {margin: 0;}
fieldset {border: 1px solid rgba(0, 0, 0, 0.1); margin: 0 0 24px; padding: 11px 12px 0;}
legend {white-space: normal;}
button, input, select, textarea {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 100%; margin: 0; max-width: 100%; vertical-align: baseline;}
button, input {line-height: normal;}
input, textarea {background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0));}
button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance: button; cursor: pointer;}
button[disabled], input[disabled] {cursor: default;}
input[type="checkbox"], input[type="radio"] {padding: 0;}



input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {display: none;}
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}

.search-form .form-field{position: relative; margin-bottom: 24px;}

button::-moz-focus-inner, input::-moz-focus-inner {border: 0; padding: 0;}
textarea {overflow: auto; vertical-align: top; min-height: 128px; border-radius: 26px;}

/*-- table --*/
table, th, td {border:0 none; letter-spacing: normal; color: var(--heading); font-size: 1rem;}
table {border-collapse: separate; border-spacing: 0; border-width: 1px; margin:50px 0; width: 100%;}
table tbody tr td:first-child {text-align: left; width:23%; font-weight:bold;}
table thead tr th:first-child {text-align: left;}
table tbody img {margin: 0 auto;}
caption, th, td {text-align: left;}
th {font-weight: bold; border-width: 0; padding:16px 7px 16px; text-align: center; border-bottom: solid 1px rgba(77, 77, 77, 0.5); color: var(--theme); font-family: "Inter", sans-serif; font-size: 1rem; line-height: 1.17; letter-spacing: -0.48px;}
td {border-width: 0; padding:16px 10px 16px; text-align: center; border-bottom: solid 1px rgba(77, 77, 77, 0.5);}
th:first-child{text-align: left;}
tr:last-child td{border-bottom: 0;}
/*-- table --*/

caption, th, td {text-align: center;}
del {color: #231f20;}
hr {display: block;  height: 2px; width: 100%; vertical-align: middle; margin:40px 0;  color: var(--white-15)}
::selection {background-color: var(--brand-green); color: #fff;}
::-moz-selection {background-color: var(--brand-green); color: #fff;}


input, textarea, select {outline: 0; width: 100%; font-size: 1rem; line-height: 1; background:var(--input); box-shadow: none; padding:14px 32px 15px; vertical-align: middle; font-weight: bold; height: auto; transition: all .5s ease-in-out; transition-duration: .75s; transition-property: all; transition-timing-function: cubic-bezier(.075,.82,.165,1); border: 0 none; border-radius:40px;}
select {padding:14px 46px 14px 16px;}
textarea {width: 100%; resize: none; height: 150px;}
input:focus, textarea:focus {outline: 0;}
input[type="button"], input[type="reset"], input[type="submit"] {display: inline-block; font-size:1rem; font-weight: bold; line-height: 100%; padding:16px; vertical-align: middle; cursor: pointer; border:0 none; background-color: var(--fm-btn-bg); position: relative; transition: all .35s ease-in-out; -webkit-transition: all .35s ease-in-out; -moz-transition: all .35s ease-in-out; text-align: center; color: var(--fm-btn-txt); font-family: "Inter", sans-serif; text-decoration: none; overflow: hidden; z-index: 1; border-radius: 0; outline: 0; box-sizing: border-box;}
input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {color: var(--black); background-color: var(--fm-btnbg-hover); transform: translate(4px, -4px); box-shadow: -4px 4px 0px 0px var(--brand-mint), -3px 3px 0px 0px var(--brand-mint), -2px 2px 0px 0px var(--brand-mint), -1px 1px 0px 0px var(--brand-mint);}
input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {outline: none; background-color: var(--base-foreground); color: var(--white);}
.search-field {width: 100%;}
.search-submit {display: none;} 

/* Default */
button, .button  {display: inline-flex; font-size: 0.938rem; font-weight: 800; line-height: 1.6; letter-spacing: -0.15px; padding:9px 25px 11px 20px; vertical-align: middle; cursor: pointer; border:0 none; background-color: var(--btn-bg); position: relative; transition: all .35s ease-in-out; -webkit-transition: all .35s ease-in-out; -moz-transition: all .35s ease-in-out; text-align: center; color: var(--btn-txt); font-family: "Inter", sans-serif; text-decoration: none; overflow: hidden; z-index: 1; border-radius: 30px; outline: 0; box-sizing: border-box; gap:14px; align-items: center; justify-content: center;}
.button:after {content: "\e09f"; position: relative; display: inline-block; font-size:19px; font-family: "Font Awesome 6 Sharp"; font-weight: normal; line-height: 1.6;}
button:hover, .button:hover {color: var(--btn-txt-hover); background-color: var(--btn-bg-hover);}
.button:hover:after {animation: bounceAlpha 1.4s ease-in-out infinite;}
button:focus, .button:focus, button:active, .button:active {background-color: var(--btn-bg); color: var(--btn-txt);} 

.button.sm {gap: 14px; padding: 5px 25px 5px 20px;}

.button.normal-btn {padding: 10px 32px;  letter-spacing: -0.16px; line-height: 1.5; font-weight: 700; font-size: 1rem;}
.button.normal-btn:after {display: none;}

input[type="search"] {padding:16px 50px 18px 32px; font-size: 0.75rem ; color: var(--white); font-weight: bold;}
input[type="submit"] {background-image: url("../images/search-icon.svg") !important; background-repeat: no-repeat !important; position: absolute; right:32px; top:0; bottom: 0; padding: 0 !important; width: 16px; height: 16px; margin: auto; background-color: transparent !important; border: 0 none; border-radius: 0; z-index: 1;}


::-webkit-input-placeholder {color: var(--placeholder)!important; font-family: "Inter", sans-serif; opacity: 1!important; font-size: 0.75rem!important; overflow: visible;}
:-moz-placeholder {color: var(--placeholder)!important; font-family: "Inter", sans-serif; opacity: 1!important; font-size: 0.75rem!important; overflow: visible;}
::-moz-placeholder {color: var(--placeholder)!important; font-family: "Inter", sans-serif; opacity: 1!important; font-size: 0.75rem!important; overflow: visible;}
:-ms-input-placeholder {color: var(--placeholder)!important; font-family: "Inter", sans-serif; opacity: 1!important; font-size: 0.75rem!important; overflow: visible;}


embed, iframe, object, video {margin-bottom: 7px; max-width: 100%; border-radius: 0;}
p > embed, p > iframe, p > object, span > embed, span > iframe, span > object {margin-bottom: 0;}
.alignleft {float: left;}
.alignright {float: right;}
.aligncenter {display: block; margin-left: auto; margin-right: auto; text-align: center;}
blockquote.alignleft, figure.wp-caption.alignleft, img.alignleft {margin:6px 32px 23px 0;}
.wp-caption.alignleft {margin: 5px 55px 37px 0;}
blockquote.alignright, figure.wp-caption.alignright, img.alignright {margin:6px 0 23px 32px;}
.wp-caption.alignright {margin: 7px 0 37px 55px;}
blockquote.aligncenter, img.aligncenter, .wp-caption.aligncenter {margin-top:27px; margin-bottom:24px;}
img.alignnone {margin:27px 0 24px; display: block; clear: both;}
.hide {display: none;}
.bypostauthor > article .fn:before, .comment-edit-link:before, .comment-reply-link:before, .comment-reply-login:before, .comment-reply-title small a:before, .contributor-posts-link:before, .menu-toggle:before, .search-toggle:before, .slider-direction-nav a:before, .widget_twentyfourteen_ephemera .widget-title:before {-webkit-font-smoothing: antialiased; display: inline-block; font: normal 16px/1 Genericons; text-decoration: inherit; vertical-align: text-bottom;}
.comment-form label {display: block;}
.comment-form input[type="text"], .comment-form input[type="email"], .comment-form input[type="url"] {width: 100%;}
.clearfix {clear: both;}
* {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden;}


.flex {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-wrap: wrap; width: 100%;}
.flex-vcenter {-webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;}
.flex-content-center {-ms-justify-content: center; -moz-justify-content: center; -webkit-justify-content: center; justify-content: center;}
.flex-center {-webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -ms-justify-content: center; -moz-justify-content: center; -webkit-justify-content: center; justify-content: center;}
.flex-nowrap {flex-wrap: nowrap;}
.flexend {display: flex; flex-wrap: wrap; justify-content: flex-end;}
.table {display: table; width: 100%; height: 100%;}
.table-cell {display: table-cell; vertical-align: middle;}
.grid {display: grid; display: -moz-grid; display: -ms-grid;}


@media only screen and (max-width: 1023px) and (min-width: 768px) {
}

@media only screen and (max-width: 767px) and (min-width:200px) {
    .button {width: 100%;}
  
}