.shows-banner{position: relative; width: 100%; clear: both;}
.shows-thumb{top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; z-index: -1;}
/* .shows-thumb:after{background: linear-gradient(240deg, var(--banner-shadow) 51.58%, var(--banner-shadow-100) 89.24%), linear-gradient(0deg, var(--banner-shadow-20) 0%, var(--banner-shadow-20) 100%); content: ""; width: 100%; height: 100%; position: absolute; left: 0; top: 0; display: block;} */
.shows-banner-main{width: 100%; min-height: 580px; align-items: center; position: relative;}
.shows-banner-slide.slick-current .shows-banner-main:after{background: linear-gradient(240deg, var(--banner-shadow) 51.58%, var(--banner-shadow-100) 89.24%), linear-gradient(0deg, var(--banner-shadow-20) 0%, var(--banner-shadow-20) 100%); content: ""; width: 100%; height: 100%; position: absolute; left: 0; top: 0; display: block; z-index: -1;}
.shows-banner-slider::before { content: ""; display: block; width: 100%; height: 100%; position: absolute; left: -100%;z-index: 1; background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 100%); top: 0;}
.shows-banner-slider::after{ content: ""; display: block; width: 100%; height: 100%; position: absolute; right: calc(-100%); z-index: 1; background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, #000 100%); top: 0;}

.shows-banner-wrap .cat-wrap{margin-bottom: 0;}
.shows-banner-wrap .cat-wrap ul li{text-transform: uppercase;}
.shows-banner-wrap .cat-wrap ul li a {gap: 8px; display: flex; align-items: center; color: var(--powder-blue); background-color: rgba(148, 207, 219, 0.15); padding: 4px 9px; width: fit-content; margin-bottom: 10px; border-radius: 0;}
.shows-banner-wrap .cat-wrap ul li a:hover{color: var(--cat-txt-hover);}
.shows-banner-wrap h1 span::before{left: -16px;}


@media only screen and (min-width: 1024px){
}
@media only screen and (min-width: 768px){
    .shows-banner-wrap{max-width: 664px; padding-left: 80px;}
    .shows-banner-slider .slick-list{overflow: inherit;}
    .shows-banner-slide{margin: 0 10px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .shows-banner-main{padding: 80px 16px 40px; align-items: flex-end;}
    .home-banner-slide-main .slick-arrow.slick-next{right: -24px;}
    .home-banner-slide-main .slick-arrow.slick-prev{left: -24px;}
    .shows-banner-wrap p{margin-bottom: 24px;}

    .shows-banner-row{padding-bottom: 60px;}
    .shows-banner-row .slick-arrow{margin: inherit; top:inherit; bottom: 0;}
    .shows-banner-row ul.slick-dots{bottom: -10px; width: calc(100% - 100px); left: 0; right: 0; margin: 0 auto;}
    
}



