.signup-module {clear: both; width: 100%; background: var(--grey); position: relative; z-index: 1; overflow:hidden;}
.signup-module .optional-text {color: var(--white);}
.signup-module .signup-wrap {justify-content: space-between; align-items: center; padding:64px 0 63px; position: relative; gap:5%; z-index: 1;}

.signup-module .signup-lt {width: calc(100% - 52.5%); flex-grow: 1;}
.signup-module .signup-lt h4 {margin-bottom: 0;}

.signup-module .signup-rt {width: 47.5%; text-align: center; color: var(--white);}
.signup-module .signup-form {position: relative}
.signup-module .signup-form .disclaimer {opacity: .75; font-size: 0.75rem; line-height:1; font-weight: bold;}

.signup-module .signup-form input {font-size: 1rem; font-weight: normal; line-height: 1.5; padding: 16px 160px 16px 32px; border-radius: 50px; background: var(--white)!important; border: 0 none !important; color: var(--black)!important;}

.signup-module .signup-form .frm_forms .form-field {margin-bottom:16px; padding-right: 5px;}
.signup-module .signup-form .frm_forms .form-field label {display: none}
.signup-module .signup-form .frm_forms .frm_submit-btn {position: absolute; right: 0; top: 0; margin: 0; width: auto;}
.signup-module .signup-form .frm_forms .frm_submit button {line-height: 100%; color: var(--signup-btn-txt)!important; text-transform: capitalize; background: var(--signup-btn-bg)!important; border-radius: 50px; padding: 20px; outline: 0 none; border: 0 none; box-shadow: none; margin: 0; min-width: 150px;}
.signup-module .signup-form .frm_forms .frm_submit button:hover {background: var(--signup-btnbg-hover)!important; color: var(--signup-btnbg-hover-txt)!important;}
.signup-module .signup-form .frm_forms.frm_style_formidable-style.with_frm_style .frm_form_fields .frm_form_field .frm_error {top: 70px;}
.signup-module .signup-form .frm_forms .frm_message p {margin: 0; text-align: center; color: var(--white);}

.signup-module .brand_asset {left:-100px; top: -20px; right: auto; bottom: auto;}
.signup-module .brand_asset.reverse {right:-90px; left: auto; top: auto; bottom: -88px;}

.signup-module ::-webkit-input-placeholder {color: var(--signup-placeholder)!important; font-size: 1rem!important;}
.signup-module:-moz-placeholder {color: var(--signup-placeholder)!important; font-size: 1rem!important;}
.signup-module ::-moz-placeholder {color: var(--signup-placeholder)!important; font-size:1rem!important;}
.signup-module :-ms-input-placeholder {color: var(--signup-placeholder)!important; font-size:1rem!important;}


@media only screen and (max-width: 1400px){
    .signup-module .brand_asset {left:-20px;} 
    .signup-module .brand_asset.reverse {right:-10px;}
}

@media only screen and (max-width:1023px) and (min-width:768px) {
.signup-module .signup-lt h4 {font-size: 1.625rem;}
}

@media only screen and (max-width:767px) and (min-width:200px) {
    .signup-module .signup-wrap {padding: 64px 0 24px;}
    .signup-module .signup-lt {width: 100%;}
    .signup-module .signup-rt {width: 100%; margin: 32px 0 0 0;}
    .signup-module .signup-form input {padding: 16px 130px 16px 32px;}
    .signup-module .signup-form .frm_forms .frm_submit button {min-width: 120px;}
    .signup-module .brand_asset {right: -12px; top:-34.334px; left: auto;}
    .signup-module .brand_asset.reverse {display: none;}
    
}