.weekdays-section{position: relative; width: 100%; clear: both;}
.weekdays-wrap { padding: 40px 0; }
.weekdays-main{ gap:40px 70px; padding: 0 0 40px; }
.weekdays-show{display: flex; flex-wrap: wrap; width: 100%; height: 100%; z-index: 1; flex: 0 0 calc(33.33% - 70px); flex-grow: 1; gap: 20px;}
.weekdays-thumb-high{position: absolute;  z-index: -1; display: block; top: 0; left: 0; width: 100%; height: 100%;}
.weekdays-txt{position: relative; z-index: 1; padding: 64px; color: var(--white); max-width: 578px; min-height: 480px; justify-content: flex-end; display: flex; flex-direction: column;}
.weekdays-show:first-child{flex: 0 0 100%}
.weekdays-show:first-child::after{background-image: url("../images/brand_asset-mike.svg"); display: block; width: 90px; height: 90px; content:""; position: absolute; right:0; bottom:-40px;}
.weekdays-txt .cat-wrap ul li a {border-radius: none;}
.weekdays-txt h2 span::before { left: 60px; bottom: -3px; }
.weekdays-show .h4{margin-bottom: 0;}
.weekdays-thumb .show-logo{position: absolute; width: 92px; height: 92px; bottom: 80px; right: 21px;}
.weekdays-wrap .btn-center {margin: 40px  0 0;}

.weekdays-section .brand-icon{ bottom: 100px; left: auto; transform: translateX(-50%); right: -50px;}


@media only screen and (max-width: 1199px) and (min-width: 768px){
  .weekdays-main { gap: 40px 40px; }
  

}

@media only screen and (max-width: 767px) and (min-width: 200px){
  .weekdays-main{flex-direction: column; gap: 20px;}
  .weekdays-wrap .heading{padding: 0 0 20px;}
  .weekdays-wrap .heading .h4{font-size: 2rem;}
  .weekdays-txt {padding: 64px 24px 32px;}
  .weekdays-show{width: 100%; gap: 8px;}
  .weekdays-show:first-child::after {display: none;}
  .weekdays-thumb .show-logo {bottom: 26px;}
  .weekdays-wrap .btn-center { margin: 20px 0 0; }
  .weekdays-wrap .btn-wrap .readmore{margin: 20px auto 0;}
}