.weekday-show-section{position: relative; width: 100%; clear:both; padding: 80px 0;}
.weekday-show-main{gap:20px 40px;}
.weekday-show-list{flex: 0 0 calc(25% - 30px); display: flex; gap: 20px; flex-direction: column;}

.weekday-show-section .brand-icon{top: -80px; left: -80px; }

@media only screen and (max-width: 1023px) and (min-width: 768px){

.weekday-show-list {flex: 0 0 calc(50% - 30px);}


}

@media only screen and (max-width: 767px) and (min-width: 200px){
.weekday-show-list {flex: 0 0 100%;}
.weekday-show-section {padding: 40px 0;}
.weekday-show-main{gap: 20px;}
.weekday-show-section .btn-wrap .readmore{margin: 0 auto;}



}