@import url("_default-banner.css");
@import url("_short-intro.css");
@import url("_repeater-section.css");
@import url("_cta-module.css");
@import url("_fce-module.css");
@import url("_featured-news-module.css");
@import url("_signup-module.css");
@import url("_micro-cta-module.css");
@import url("_single-cta-module.css");
@import url("_block-module.css");
@import url("_accordion-module.css");
@import url("_single-testimonial-module.css");


.short-intro-module {padding-bottom: 20px;}
.repeater-main{padding: 40px 0 80px 0;}

.general-default-container {float: left; width: 100%; padding:64px 0 80px 0; position: relative; z-index: 1;}
.general-default-container .container .container {padding: 0;}
.general-default-container ul {margin-top: -2px;}
.general-default-container .divider {margin: 24px 0;}
.general-default-container .ad-sm-wrap {margin: 63px 0 0 0;}
.general-default-container .micro-cta-module {margin: 40px 0 63px 0;}
.general-default-container .general-default-inner  h3 {padding: 40px 0 0 0;}
.general-default-container .brand-icon {bottom: -28px; right: -43px;}

.general-default-container .default-main {justify-content: space-between; gap:8.125%;}
.general-default-container .default-main  h3 {padding: 13px 0 0 0;}
.general-default-container .default-main .divider {margin:18px 0;}
.general-default-container p:first-of-type span {font-size: 1.5rem; line-height: 1.5; display: block;}

.default-inner {position: relative;}
.default-inner .brand-icon {left: -11px; right: auto; bottom: -39px;}



/* Sidebar */
.sidebar {width:335px;}
.sidebar .side-bucket {clear: both; margin: 0 0 40px 0;}
.sidebar .side-bucket:last-child {margin-bottom: 0;}
.sidebar .side-bucket .ad-300 {max-width: 300px; margin-left: auto;}
.sidebar .brand-icon {top: 287px; bottom: inherit; margin: auto; z-index: -1;}

/*-- media css starts here --*/

@media only screen and (min-width: 1024px) {
.default-inner {flex: 1;}  
}

@media only screen and (max-width: 1023px) and (min-width: 200px) {
    .sidebar {clear: both; margin: 37px auto 0 auto;}
    .sidebar .side-bucket .ad-300 {margin: 0 auto;}
    .sidebar .brand-icon {top: -90px; right: -125px;}
}


@media only screen and (max-width: 767px) and (min-width: 200px) {
    .repeater-main {padding: 40px 0;}
    
    .general-default-container {padding: 21px 0 21px;}
    .general-default-container .micro-cta-module {margin: 39px 0 40px 0;}
    .general-default-container .general-default-inner h3 {padding: 17px 0 0 0;}
    .ad-sm-wrap {margin: 17px 0 0 0;}
    .accordion-module {padding: 16px 0;}
    .single-testimonial {padding: 16px 0 64px;}
}

@media only screen and (max-width:480px) {

}