@import url("_home-banner.css");
@import url("_feature-cta-primary-section.css");

@import url("_featured-news-module.css");
@import url("_fce-module.css");
@import url("_cta-module.css");
@import url("_signup-module.css");
@import url("_feature-podcasts.css");


.ad-main{padding:40px 0 80px;}
.ad-main .brand-icon { right: -50px; top: -32px; z-index: -1; }

.cta-module{margin-bottom: 80px;}
.fce-module{padding: 0 0 40px;}

.cta-module{z-index: -2;}




@media only screen and (max-width: 767px) and (min-width: 200px){
    .ad-main { padding: 0 0 20px;}
    .fce-module { padding: 40px 0 60px; }
    .cta-module { margin-bottom: 40px; }
}